Source: librazik-theme-kde
Section: x11
Priority: optional
Maintainer: Équipe LibraZiK <librazik@librazik.org>
Uploaders: Olivier Humbert <trebmuh@librazik.org>
Standards-Version: 4.3.0
Build-Depends: debhelper-compat (= 13)
Homepage: https://librazik.org/

Package: librazik-theme-kde
Architecture: all
Depends:
 ${misc:Depends}
Description: LibraZiK-4 - KDE Plasma theme
 This package contains the LibraZiK 4 theme for KDE Plasma desktop.
 .
 Documentation page : https://doc4.librazik.org/paquets
 .
 LibraZiK audio studio package 2022 ©
